* {
  background-color: #3366ff;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-size: 5em;
}

h2 {
  text-align: center;
  font-size: 3em;
  margin-top: 8%;
}

p {
  text-align: center;
  font-size: 2em;
  margin: 8%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

ul,
ol {
  list-style: none;
  margin-right: 3em;
  text-align: center;
}

li {
  display: inline-block;
  font-size: 2.5em;
  margin: 5% 1%;
}

a {
  color: black;
  text-decoration: none;
}

img {
  display: block;
  margin: auto;
  width: 800px;
  height: 400px;
  margin-bottom: 5%;
}

img.dish-img {
  display: inline-block;
  margin-left: 6em;
}

img.dish-img.burger {
  width: 40%;
  height: 40%;
}

img.dish-img.steak,
img.dish-img.coleslaw {
  width: 500px;
  height: 400px;
}

p.dish-description {
  display: inline-block;
  width: 40%;
  height: 40%;
  margin: 0;
  text-align: start;
  vertical-align: top;
  margin-left: 2em;
}

p.dish-description.burger,
p.dish-description.coleslaw {
  font-size: 36px;
}

p.dish-description.steak {
  font-size: 40px;
}

.main-link {
  padding: 20px;
  background-color: lightskyblue;
  border-radius: 20px;
}